//-------colors------------
$white: #ffffff;
$light-gray: #ccc;
$black1: #000;
$black2: rgba(0, 0, 0, 0.2);
$black-hover: #e9ecef;
$light-grey-color: rgba(216, 216, 216, 0.5);
$black-card-shadow: rgba(0, 0, 0, 0.19);
$primary: #1976d2;
// $hover-share-icon-filter: invert(48%) sepia(67%) saturate(7499%)
//   hue-rotate(74deg) brightness(97%) contrast(103%);

